@import 'tailwindcss';

@theme {
  --color-primary: #4b2e2b;
  --color-secondary: #e6d5c3;
  --color-accent: #7c9a6d;
  --text-clr: #2b2b2b;
}

@layer base {
  body {
    @apply bg-[#F5EFEA] text-(--text-clr);
  }
}

/* Custom scrollbar styles */
.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #7c9a6d;
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #e6d5c3;
}

@layer components {
  .input-box {
    @apply w-full text-sm bg-[#F5EFEA] rounded-sm px-5 py-4 mb-4 outline-none;
  }
  .input-box:focus {
    @apply ring-2 ring-primary backdrop-blur-sm;
  }

  .btn-primary {
    @apply w-6/12 text-sm font-medium text-white bg-primary p-2.5 rounded-full my-1 hover:bg-secondary hover:text-(--text-clr) cursor-pointer;
  }

  .btn-secondary {
    @apply w-6/12 text-sm font-medium text-(--text-clr) bg-secondary p-2.5 rounded-full my-1 hover:bg-primary hover:text-white cursor-pointer;
  }

  .icon-btn {
    @apply text-[22px] text-slate-300 cursor-pointer hover:text-accent;
  }

  .btn-small {
    @apply cursor-pointer flex items-center gap-1 text-xs font-medium bg-secondary/30 text-accent shadow-accent/0 border border-accent hover:bg-accent hover:text-white rounded-sm px-3 py-0.75;
  }

  .btn-delete {
    @apply cursor-pointer bg-rose-50 text-rose-500 shadow-rose-100/0 border border-rose-100 hover:bg-rose-500 hover:text-white;
  }

  .input-label {
    @apply text-xs text-slate-400;
  }
}
